body {
    background: #313131;
    color: cornsilk;

    margin: 0;
    padding: 0;
}

#navbar {
    padding: 0;
    margin: 0;
}

.navlist{
    list-style: none;
    padding: 0;
    margin: 0;
    min-height: 36px;
    max-height: 36px;
    background: #424242;
}

.navelement {
    float: left;
    display: block;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    cursor: pointer !important;
}

.navelement a {
    color: cornsilk;
    text-decoration: none;
}

.navselected{
    background: #686868 !important;
}

.navelement:hover {
    background: #222222;
}

.content {
    margin: 8px;
}

.heading {
    font-size: 1.8rem;
    margin: 0;
    padding: 0;
}
