.projectlist {
    display: flex;
}

.projectlist ul {
    list-style: none;
    padding: 0;
    width: calc(100vw - 16px);
}

.projectelement {
    display: block;
    padding: 8px;
    margin: 8px;
    max-width: 98vw;
    border-radius: 10px;
    text-decoration: none;
    background: #464646;
}

.projectelement div h3 {
    margin: 0;
    font-family: Arial, sans-serif;
}